{
    "server": "chat.freenode.net",
    "nick": "botnick",
    "channel": "#fightchannel",
    "port": 6697,
    "tls": true,
    "nsuser": "dong",
    "nspass": "yourpasswd",
    "auxchans": [],
    "extcmds": ["jaden", "excuse", "dong"],
    "admins": [],
    "topmodifier": 0.05, 
    "stats-url": "" 
}
